__pycache__

api-python/__pycache__/*

userapi/__pycache__/*
userapi/migrations/*

iotstateapi/__pycache__/*
iotstateapi/migrations/*

equipmentapi/__pycache__/*
equipmentapi/migrations/*

notificationapi/__pycache__/*
notificationapi/migrations/*

